/***basic css reset***/
html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}

a{
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/***fonts***/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

/***form styling***/
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);  /* #bcbcda */
    font-family: 'Montserrat' , sans-serif;
    color: white;
}

form{
    background-color: #999999;
    border-radius: 3rem;
    min-width: 25vw;
}

.select-log-option{
    background-color: #999999;
    margin-bottom: 2rem;
    display: flex;
    border-radius: 2rem 2rem 0 0 ;
}

.select-log-option > div {
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 1.5rem;
}

h2{
    font-weight: 700;
    font-size: 1rem;
}
ul{
    min-width: 13vw;
    max-width: 300px;
    margin: 0 auto;
}

li:last-of-type{
    display: flex;
}

label{
    display: block;
    margin-bottom: 1.5rem;
    font-size: .85rem;
    font-weight: 400;
}

input{
    margin-top: .7rem;
    width: 100%;
    border: none;
    border-radius:  1.2rem;
    padding: .8rem;
    font-size: .9rem;
    font-weight: 600;
    color:rgb(63, 63, 63) ;
}

input:focus{
    outline: 2px solid rgb(255, 255, 255) ;
}

input#terminos {
    width: auto;
    margin-right: .5rem;
}

a{
    font-weight: 200;
    font-size: .8rem;
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
}

button{
    margin: 1.8rem auto 3rem auto;
    padding: .9rem 1.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #ffffff;
    color: rgb(75, 75, 75);
    cursor: pointer;

}

button:hover{
    background-color: #2e2e2e;
    outline: 2px solid #2e2e2e;
    color: white;
}

.hidden{
    display: none;
}